In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols

In [2]:
data = pd.read_csv('modified_marketing_and_sales_data.csv')
data.head()

     TV      Radio  Social_Media       Sales
0  16.0   6.566231      2.907983   54.732757
1  13.0   9.237765      2.409567   46.677897
2  41.0  15.886446      2.913410  150.177829
3  83.0  30.020028      6.922304  298.246340
4  15.0   8.437408      1.405998   56.594181

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social_Media  4566 non-null   float64
 3   Sales         4566 non-null   float64
dtypes: float64(4)
memory usage: 143.0 KB

In [4]:
data.shape

(4572, 4)

In [5]:
data[['TV', 'Radio', 'Social_Media']].describe()

                TV        Radio  Social_Media
count  4562.000000  4568.000000   4566.000000
mean     54.066857    18.160356      3.323956
std      26.125054     9.676958      2.212670
min      10.000000     0.000684      0.000031
25%      32.000000    10.525957      1.527849
50%      53.000000    17.859513      3.055565
75%      77.000000    25.649730      4.807558
max     100.000000    48.871161     13.981662

In [6]:
import pandas_profiling 
data_profile = pandas_profiling.ProfileReport(data)
data_profile.to_file("Output.html")

C:\Users\Admin\AppData\Local\Temp\ipykernel_2428\4092983512.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
missing_values = data['Sales'].isna().mean()

missing_sales = round((missing_values*100), 2)

print("The missing values percentage is "+str(missing_sales)+"%")

The missing values percentage is 0.13%

In [8]:
data['Sales'].dropna(axis=0)

0        54.732757
1        46.677897
2       150.177829
3       298.246340
4        56.594181
           ...
4567     94.685866
4568    249.101915
4569    163.631457
4570    253.610411
4571    148.202414
Name: Sales, Length: 4566, dtype: float64

In [9]:
fig = sns.histplot('Sales')
fig.set_title("The distribution os sales")

Text(0.5, 1.0, 'The distribution os sales')

In [10]:
sns.pairplot(data)